<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/heroes">
  Team Name: <input type="text" name="pirate[name]"><br><br>
  Team Motto: <input type="text" name="pirate[weight]"><br><br>
  <h2>Hero 1</h2>
  Hero's Name: <input type="text" name="pirate[name]"><br><br>
  Hero's Power: <input type="text" name="pirate[weight]"><br><br>
  Hero's Biography: <input type="text" name="pirate[weight]"><br><br>
  <h2>Hero 2</h2>
  Hero's Name: <input type="text" name="pirate[name]"><br><br>
  Hero's Power: <input type="text" name="pirate[weight]"><br><br>
  Hero's Biography: <input type="text" name="pirate[weight]"><br><br>
  <h2>Hero 3</h2>
  Hero's Name: <input type="text" name="pirate[name]"><br><br>
  Hero's Power: <input type="text" name="pirate[weight]"><br><br>
  Hero's Biography: <input type="text" name="pirate[weight]"><br><br>
  <input type="submit" value="Submit">
</form>